# Root category
log4j.rootLogger=@log4j.std.out.threshold@, stdout, LOGFILE
log4j.logger.com.bt.aloha=DEBUG, LOGFILE
#log4j.rootLogger=OFF, stdout
#log4j.logger.com.bt.aloha=INFO, LOGFILE
log4j.logger.com.bt.aloha.messages=DEBUG, SIP_MESSAGES_LOGFILE

# CONSOLE
log4j.appender.stdout.Threshold=@log4j.std.out.threshold@
#log4j.appender.stdout.Threshold=OFF
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d %X{stackname}[%t] %-5p [%C{1}.%M() %L] - %m%n

# LOGFILE
log4j.appender.LOGFILE=org.apache.log4j.RollingFileAppender
log4j.appender.LOGFILE.File=simplesipstack-test.log
log4j.appender.LOGFILE.Append=true
log4j.appender.LOGFILE.MaxFileSize=40MB
log4j.appender.LOGFILE.MaxBackupIndex=1
log4j.appender.LOGFILE.Threshold=DEBUG
#log4j.appender.LOGFILE.Threshold=INFO
log4j.appender.LOGFILE.layout=org.apache.log4j.PatternLayout
log4j.appender.LOGFILE.layout.ConversionPattern=%d %X{stackname}[%t] %-5p [%C{1}.%M() %L] - %m%n

# SIP_MESSAGES_LOGFILE
log4j.appender.SIP_MESSAGES_LOGFILE=org.apache.log4j.RollingFileAppender
log4j.appender.SIP_MESSAGES_LOGFILE.File=sip-messages.log
log4j.appender.SIP_MESSAGES_LOGFILE.Append=true
log4j.appender.SIP_MESSAGES_LOGFILE.MaxFileSize=40MB
log4j.appender.SIP_MESSAGES_LOGFILE.MaxBackupIndex=1
log4j.appender.SIP_MESSAGES_LOGFILE.Threshold=DEBUG
log4j.appender.SIP_MESSAGES_LOGFILE.layout=org.apache.log4j.PatternLayout
log4j.appender.SIP_MESSAGES_LOGFILE.layout.ConversionPattern=%d %X{stackname}[%t] %-5p [%C{1}.%M() %L] - %m%n