sssDatasource.driverClassName=@database.driverClassName@
sssDatasource.url=@database.url@
sssDatasource.username=@database.username@
sssDatasource.password=@database.password@

sssDatasource.maxActive=20
