simpleSipStack.stackName=PersistencySipStack
simpleSipStack.ipAddress=@sip.stack.ip.address.pattern@
simpleSipStack.port=@persistency.port@

simpleSipStack.jainStackPropertiesTraceLevel=@sip.trace.level@
simpleSipStack.jainStackPropertiesThreadPoolSize=40

taskExecutor.corePoolSize=40

mediaServerAddressFactory.mediaServerAddresses=172.25.58.148:5060
