simpleSipStack.stackName=SipLoadBalancerStack
simpleSipStack.ipAddress=@sip.stack.ip.address.pattern@
simpleSipStack.port=@sip.load.balancer.port@

simpleSipStack.jainStackPropertiesTraceLevel=@sip.trace.level@
simpleSipStack.jainStackPropertiesThreadPoolSize=40

sipLoadBalancer.hosts=sip:@sip.stack.ip.address.pattern@:@sip.stack.port@,sip:@sip.stack.ip.address.pattern@:@second.sip.stack.port@
