<!--
/*
 * Aloha Open Source SIP Application Server- https://trac.osmosoft.com/Aloha
 *
 * Copyright (c) 2008, British Telecommunications plc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under the
 * terms of the GNU Lesser General Public License as published by the Free Software
 * Foundation; either version 3.0 of the License, or (at your option) any later
 * version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License along
 * with this library; if not, write to the Free Software Foundation, Inc.,
 * 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 */
 -->
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop.xsd">

	<import resource="classpath:core-ctx.xml" />
	<import resource="classpath:memory-collections-ctx.xml" />
	<import resource="classpath:media-ctx.xml" />

	<!-- we do not import config-ctx.xml, so we can define our own -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
  		<property name="locations">
  			<list>
  				<value>media.sip.properties</value>
  			</list>
  		</property>
  	</bean>

	<!-- inbound dialog handling rules -->
	<bean id="incomingDialogRule" class="com.bt.sdk.callcontrol.sip.dialog.IncomingDialogRouterRule">
		<property name="rulePattern" value=".*[in|out]bound.*" />
		<property name="dialogSipBean" ref="inboundCallLegBean" />
	</bean>

	<bean id="router" class="com.bt.sdk.callcontrol.sip.dialog.DialogRouter">
		<constructor-arg index="0">
			<list>
				<ref local="incomingDialogRule"/>
			</list>
		</constructor-arg>
	</bean>

	<!-- dialog beans -->
	<bean id="inboundCallLegBean" class="com.bt.sdk.callcontrol.sip.callleg.InboundCallLegBeanImpl" >
	</bean>

	<bean id="mediaCallLegBean" class="com.bt.sdk.callcontrol.sip.media.convedia.MediaCallLegBeanImpl" >
		<!--property name="mediaServerAddressFactory" ref="mediaServerAddressFactory"/-->
	</bean>

	<bean id="outboundCallLegBean" class="com.bt.sdk.callcontrol.sip.callleg.OutboundCallLegBeanImpl" >
	</bean>

	<bean id="callBean" class="com.bt.sdk.callcontrol.sip.call.CallBeanImpl">
		<property name="inboundCallLegBean" ref="inboundCallLegBean" />
		<property name="outboundCallLegBean" ref="outboundCallLegBean" />
	</bean>

	<bean id="mediaCallBean" class="com.bt.sdk.callcontrol.sip.media.convedia.MediaCallBeanImpl" >
		<property name="callBean" ref="callBean" />
		<property name="mediaCallLegBean" ref="mediaCallLegBean" />
	</bean>

	<!--bean id="mediaServerAddressFactory" class="com.bt.sdk.callcontrol.sip.media.convedia.MediaServerAddressFactory">
		<constructor-arg index="0" value="${media.server.addresses}"/>
	</bean-->

</beans>